<mat-card class="quote-card">
  <mat-card-content>
    <span class="tag-label">{{!!tagSelected && tagSelected.length > 0 ? tagSelected : "No tag" }}</span>
    <div class="text-div">
      <p class="quote-text">{{ quote.text }}</p>
    </div>
    <p class="quote-author">
      <mat-icon inline style="margin-right:6px;">history_edu</mat-icon> {{ quote.author }}
    </p>

    <div class="tags-section">
      <p class="tags-label"><mat-icon inline>local_offer</mat-icon>Tags<p>
      <mat-chip-listbox aria-label="Quote tags" class="quote-tags">
        <div class="tags-container">
          <span
            *ngFor="let tag of quote.tags"
            class="clickable-chip"
            (click)="onTagClick.emit(tag)">
            {{ tag }}
          </span>
        </div>
      </mat-chip-listbox>
    </div>
  </mat-card-content>
</mat-card>
