:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;

  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;

  transition: all 0.3s ease;
}

html, body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: 16px;
  color: var(--text-color);
  min-height: 100vh;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

/* Animation Classes */
@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
